# Ignore all directories, and all sub-directories, and it's contents:
# Ignore * all files in directories
# Ignore **/ alll subdirectories 

.vscode/
/.settings/
/.project
/.buildpath
/database/mysql
/www/formDin/
/www/config/
/www/modelo_banco_exemplos/
/www/test/
/www/phpMyAdmin/
/www/phpMyAdmin-4.8.4-all-languages/